@import 'tailwindcss';

@import 'tw-animate-css';

:root {
  color-scheme: light dark only;
  --radius: 0.625rem;
  --background: oklch(0.9911 0 0);
  --foreground: oklch(0.1994 0.0470 270.6494);
  --card: oklch(0.9851 0 0);
  --card-foreground: oklch(0.1994 0.0470 270.6494);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1994 0.0470 270.6494);
  --primary: oklch(0.5729 0.2337 264.3664);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.1994 0.0470 270.6494);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(1.0000 0 0);
  --muted-foreground: oklch(0.1994 0.0470 270.6494);
  --accent: oklch(1.0000 0 0);
  --accent-foreground: oklch(0.5729 0.2337 264.3664);
  --destructive: oklch(0.7058 0.1918 39.5760);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9212 0.0033 17.2170);
  --input: oklch(0.8452 0 0);
  --ring: oklch(0.5784 0.2303 263.8862);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.1994 0.0470 270.6494);
  --sidebar-primary: oklch(0.5729 0.2337 264.3664);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(1.0000 0 0);
  --sidebar-accent-foreground: oklch(0.5729 0.2337 264.3664);
  --sidebar-border: oklch(1.0000 0 0);
  --sidebar-ring: oklch(0.5784 0.2303 263.8862);
  --shadow-x: -50px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: -50px;
  --shadow-opacity: 0;
  --shadow-color: #2e6aff;
  --shadow-2xs: -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0.00);
  --shadow-xs: -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0.00);
  --shadow-sm: -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0.00), -50px 1px 2px -51px hsl(222.7751 100% 59.0196% / 0.00);
  --shadow: -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0.00), -50px 1px 2px -51px hsl(222.7751 100% 59.0196% / 0.00);
  --shadow-md: -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0.00), -50px 2px 4px -51px hsl(222.7751 100% 59.0196% / 0.00);
  --shadow-lg: -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0.00), -50px 4px 6px -51px hsl(222.7751 100% 59.0196% / 0.00);
  --shadow-xl: -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0.00), -50px 8px 10px -51px hsl(222.7751 100% 59.0196% / 0.00);
  --shadow-2xl: -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0 0 0);
    --foreground: oklch(1.0000 0 0);
    --card: oklch(0.1684 0 0);
    --card-foreground: oklch(0.8853 0 0);
    --popover: oklch(0 0 0);
    --popover-foreground: oklch(1.0000 0 0);
    --primary: oklch(0.5683 0.2366 264.2478);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(1.0000 0 0);
    --secondary-foreground: oklch(0.1994 0.0470 270.6494);
    --muted: oklch(0.2090 0 0);
    --muted-foreground: oklch(0.5953 0.0215 276.1101);
    --accent: oklch(0.1880 0.0868 261.9799);
    --accent-foreground: oklch(0.5683 0.2366 264.2478);
    --destructive: oklch(0.7058 0.1918 39.5760);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.2746 0.0130 279.0717);
    --input: oklch(0.2697 0.0888 269.7716);
    --ring: oklch(0.5784 0.2303 263.8862);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.1684 0 0);
    --sidebar-foreground: oklch(0.8853 0 0);
    --sidebar-primary: oklch(0.5784 0.2303 263.8862);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.1880 0.0868 261.9799);
    --sidebar-accent-foreground: oklch(0.5683 0.2366 264.2478);
    --sidebar-border: oklch(0.3706 0.0642 269.1117);
    --sidebar-ring: oklch(0.5784 0.2303 263.8862);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  height: 100vh !important;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  user-select: none;
  font-family: 'Nunito Variable'
}

img,
a {
  -webkit-user-drag: none;
}

*:focus-visible {
  outline: none;
  border-image: fill 0 linear-gradient(#8885, #8885);
}

*::-webkit-scrollbar {
  display: none;
}

a[href],
button,
fieldset,
input,
optgroup,
option,
select,
textarea,
details,
[tabindex],
[contenteditable] {
  &:active:not([disabled], [type='range'], .no-scale, [tabindex="-1"]) {
    transition: all 0.1s ease-in-out;
    transform: scale(0.98);
  }
}

.scale-parent:has(.no-scale:active) {
  transition: all 0.1s ease-in-out;
  transform: scale(0.98);
}

.overflow-y-scroll,
.overflow-y-auto,
.overflow-x-scroll,
.overflow-x-auto,
.overflow-auto,
.overflow-scroll {
  will-change: scroll-position;
}

.sr-only {
  display: none !important;
}

::view-transition-old(my-root),
::view-transition-new(my-root) {
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

::view-transition-old(my-root) {
  animation-name: fade-out;
}

::view-transition-new(my-root) {
  animation-name: fade-in;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

@font-face {
  font-family: "Twemoji";
  src: url("/twemoji.woff2") format("woff2");
}

.font-twemoji {
  font-family: 'Twemoji';
}
